<h2>Product List Real Time Websocket</h2>

<ul id='products'>
  {{#each products}}
  <h4>Product {{this.id}}</h4>
  <li>id: {{this.id}}</li>
  <li>title: {{this.title}}</li>
  <li>description: {{this.description}}</li>
  <li>price: {{this.price}}</li>
  <li>thumbnails: {{this.thumbnails}}</li>
  <li>code: {{this.code}}</li>
  <li>stock: {{this.stock}}</li>
  <li>status: {{this.status}}</li>
  <li>category: {{this.category}}</li>
  <button id='btnDelete{{this.id}}'>Delete product</button>
  <br />
  {{/each}}
</ul>


{{!-- FORM --}}
<h2>Create Product</h2>

<form action="/api/products" method='POST' id='formAddProduct'>
  <div>
    <label for="title">Title: </label>
    <input type="text" name='title' id='title'>
  </div>
  <div>
    <label for="description">Description: </label>
    <input type="text" name='description' id='description'>
  </div>
  <div>
    <label for="price">Price: </label>
    <input type="number" name='price' id='price'>
  </div>
  <div>
    <label for="thumbnails">Thumbnails: </label>
    <input type="text" name='thumbnails' id='thumbnails'>
  </div>
  <div>
    <label for="code">Code: </label>
    <input type="text" name='code' id='code'>
  </div>
  <div>
    <label for="stock">Stock: </label>
    <input type="number" name='stock' id='stock'>
  </div>
  <div>
    <label for="status">Status: </label>
    <input type="text" name='status' id='status'>
  </div>
  <div>
    <label for="category">Category: </label>
    <input type="text" name='category' id='category'>
  </div>
  <button type='submit' id='btnCreateProduct'>
    Create Product
  </button>

</form>







{{!-- Para tener acceso a socket.io --}}
<script src='/socket.io/socket.io.js'></script>
<script src='/js/index.js'></script>