<h2>Create Product</h2>

<form action="/api/realTimeProducts" method='POST'>
  <div>
    <label for="title">Title: </label>
    <input type="text" name='title' id='title'>
  </div>
  <div>
    <label for="description">Description: </label>
    <input type="text" name='description' id='description'>
  </div>
  <div>
    <label for="price">Price: </label>
    <input type="number" name='price' id='price'>
  </div>
  <div>
    <label for="thumbnails">Thumbnails: </label>
    <input type="text" name='thumbnails' id='thumbnails'>
  </div>
  <div>
    <label for="code">Code: </label>
    <input type="text" name='code' id='code'>
  </div>
  <div>
    <label for="stock">Stock: </label>
    <input type="number" name='stock' id='stock'>
  </div>
  <div>
    <label for="status">Status: </label>
    <input type="text" name='status' id='status'>
  </div>
  <div>
    <label for="category">Category: </label>
    <input type="text" name='category' id='category'>
  </div>
  <button type='submit' id='btnCreateProduct' onclick='createProduct'>
    Create Product
  </button>

</form>

<h2>Product List Real Time Websocket</h2>

<ul id='products'>
  {{#each products}}
  <h4>Product {{id}}</h4>
  <li>id: {{id}}</li>
  <li>title: {{title}}</li>
  <li>description: {{description}}</li>
  <li>price: {{price}}</li>
  <li>thumbnails: {{thumbnails}}</li>
  <li>code: {{code}}</li>
  <li>stock: {{stock}}</li>
  <li>status: {{status}}</li>
  <li>category: {{category}}</li>
  <button id='btnDelete'>Delete product</button>
  <br />
  {{/each}}
</ul>






{{!-- Para tener acceso a socket.io --}}
<script src='/socket.io/socket.io.js'></script>
<script src='/js/index.js'></script>