<h1>Aleatory User</h1>
<div>
  {{!-- We access each property of the 'user' that we receive. --}}
  <p>Name: {{user.name}}</p>
  <p>Last Name: {{user.lastName}}</p>
  <p>Age: {{user.age}}</p>
  <p>Email: {{user.email}}</p>
  <p>Phone: {{user.phone}}</p>
</div>