<h1>
  USERS
</h1>
{{!-- users viene del nombre que le damos en views.router --}}
{{#each users}}
<ul>
  <li>Name: {{this.firstName}} {{this.lastName}}</li>
  <li>Gender: {{this.gender}}</li>
  <li>Email: {{this.email}}</li>
  <li>Courses: {{this.courses}}</li>
</ul>
{{/each}}