<section class="profile">

  {{#if user.email}}
  <div class='userData'>
    <p><span>Name:</span> {{user.firstName}}</p>
    <p><span>LastName:</span>{{user.lastName}}</p>
    <p><span>Email:</span> {{user.email}}</p>
    <p><span>UID:</span> {{user.id}}</p>
    {{#if user.age}}
    <p><span>Age:</span> {{ user.age }}</p>
    {{else}}
    <p><span>Age:</span> N/A</p>
    {{/if}}
    <p><span>Role:</span> {{user.role}}</p>
    <p><span>Cart:</span> {{user.cart}}</p>
  </div>
  {{/if}}
</section>

{{!-- Para tener acceso a socket.io --}}
<script src='/socket.io/socket.io.js'></script>
<script src='/js/profile.js'></script>