<section class="profile">
  {{#if user}}
  <div class='userData'>
    <p><span>Name:</span> {{user.firstName}}</p>
    <p><span>LastName:</span> {{user.lastName}}</p>
    <p><span>Email:</span> {{user.email}}</p>
    <p><span>UID:</span> {{user.id}}</p>
    {{#if user.age}}
    <p><span>Age:</span> {{ user.age }}</p>
    {{else}}
    <p><span>Age:</span> N/A</p>
    {{/if}}
    <p><span>Role:</span> {{user.role}}</p>
    {{#unlessEq user.role 'admin'}}
    <p><span>Cart:</span> {{user.cart}}</p>
    {{/unlessEq}}
  </div>
  {{/if}}

  <h4>Documentation required to be a premium user</h4>
  <form class='userDocs' id='userDocs-{{user.id}}' method="post" action="/api/users/{{user.id}}/documents"
    enctype="multipart/form-data">
    <div>
      <label for="identification">Identification:</label>
      <input class='fileInput' type="file" name='document' id='identification'>
    </div>
    <div>
      <label for="proof-of-address">Proof of Address:</label>
      <input class='fileInput' type="file" name='document' id='proof-of-address'>
    </div>
    <div>
      <label for="proof-of-account-status">Proof of Account Status:</label>
      <input class='fileInput' type="file" name='document' id='proof-of-account-status'>
    </div>
    <button type="submit" id='sendDocumentation-{{user.id}}'>Send Documentation</button>
  </form>
</section>

{{!-- Para tener acceso a socket.io --}}
<script src='/socket.io/socket.io.js'></script>
<script src='/js/profile.js'></script>