<section class='users'>

  <ul id='users' class='usersContainer'>

    {{#each users}}

    <li class='user'>
      <div class='userDataContainer'>
        <h4 class='userName'>{{user.firstName}} {{user.lastName}}</h4>
        <p> <span>age:</span> {{user.age}}</p>
        <p> <span>email:</span> {{user.email}}</p>
        <p> <span>cart:</span> {{user.cart}}</p>
        <p> <span>role:</span> {{user.role}}</p>
        <p> <span>last Connection:</span> {{user.lastConnection}}</p>

        <div class='btnContainer'>
          <button class='btnAddToCart' id='btnAddToCart-{{this._id}}' data-id='btnAddToCart' cid='cid-{{user.cart}}'
            onclick='addToCart("{{../user.cart}}", "{{this._id}}")'>
            Change Role
          </button>
          <button class='btnAddToCart' id='btnAddToCart-{{this._id}}' data-id='btnAddToCart' cid='cid-{{user.cart}}'
            onclick='addToCart("{{../user.cart}}", "{{this._id}}")'>
            Delete User
          </button>
        </div>
      </div>


    </li>
    {{/each}}
  </ul>


</section>

{{!-- Para tener acceso a socket.io --}}
<script src=' /socket.io/socket.io.js'></script>
<script src='/js/users.js'></script>